<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>
<h1>新規投稿</h1>
<!-- form_for部分 -->
<%= form_for(@photo) do |f| %>
 
  <h4>タイトル</h4>
  <%= f.text_area :body %>
 
  <!-- 追加部分 -->
  <h4>画像</h4>
  <%= f.attachment_field :a_image%>
  <%= f.attachment_field :b_image%>
  <%= f.attachment_field :c_image%>
  <%= f.attachment_field :d_image%>
  <%= f.attachment_field :e_image%>
  <%= f.attachment_field :f_image%>
 
  <%= f.submit '投稿' %>
 
<% end %>

