<!DOCTYPE html>
<html>
  <head>
    <title>SlickApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- slickを使うために必要なコード（HPから引用） -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- <link href="js/slick-theme.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="js/slick.css" rel="stylesheet" type="text/css"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
